[mysqld]
# CONFIGURACIÓN SLAVE
server-id = 2  # Cambiar a 3 para slave2
relay-log = mysql-relay-bin
log-bin = mysql-bin
binlog-format = ROW
read-only = 1

# CONFIGURACIÓN DE REPLICACIÓN
relay_log_purge = 1
relay_log_recovery = 1

# OPTIMIZACIONES
innodb_buffer_pool_size = 128M
innodb_log_file_size = 32M

# CONFIGURACIONES DE RENDIMIENTO
max_connections = 100
query_cache_type = 1
query_cache_size = 16M

# CONFIGURACIÓN DE SEGURIDAD
bind-address = 0.0.0.0